* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /*15px*/
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%; /*14px*/
  }
}
@media (max-width: 450px) {
  html {
    font-size: 87.5%; /*14px*/
  }
}

html {
  scroll-behavior: smooth;
}

body,
input,
button,
textarea {
  font: 400 16px 'Poppins', sans-serif;
}

body {
  background: #333;
  color: #f1f1f1;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #f1f1f1;
  transition: filter 0.3s;
}

a:hover {
  filter: brightness(0.85);
}

button {
  cursor: pointer;
  border: unset;
}

input + span {
  font-size: 0.9rem;
  color: #e40000;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.logo {
  -webkit-text-stroke: 4px #000;
}

@media (max-width: 720px) {
  .logo {
    -webkit-text-stroke: 3px #000;
  }
}

@media (max-width: 480px) {
  .logo {
    -webkit-text-stroke: 2px #000;
  }
}

.backgroudImg {
  background: #333333 url('../assets/images/background.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.backgroudImg > div {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}

@media (max-width: 1400px) {
  .backgroudImg {
    height: 130vh;
  }
}

/* @media (max-width: 800px) {
  .backgroudImg {
    height: 130vh;
  }
} */

/* width scrollbar */
/* ::-webkit-scrollbar {
  width: 0;
  height: 0;
} */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}
