.container {
  width: 100%;
  border-radius: 8px;
}
.container:hover {
  filter: none;
}
.alternative {
  height: min-content;
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #3f3f3f;
  color: #f1f1f1;

  font-size: 0.95rem;
  font-weight: 400;
}

.correct {
  padding: 2px;
  border-radius: 8px;
  background: linear-gradient(227.91deg, #2f9300 0%, #49e100 100%);
}
.wrong {
  padding: 2px;
  border-radius: 8px;
  background: linear-gradient(227.91deg, #940000 0%, #e90000 100%);
}
