.option {
  height: 2.8rem;
  width: 100%;
  padding: 10px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #3f3f3f;
  color: #f1f1f1;

  transition: filter 0.2s;
}

.option + .option {
  margin-top: 20px;
}

.option:hover {
  filter: brightness(0.85);
}
